/*
grayscale 外观

使得页面变为黑白色。
*/

html {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

/*
附加：invert 外观 

使得页面反色。
*/

html {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}