.text-collapse {
    margin: 2px;
}
.text-collapse .col-title {
    border-radius: 25px;
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
}
.text-collapse .col-text {
    display: none;
    text-align: center;
    margin-top: 10px;
}
.text-collapse .col-title:hover + .col-text {
	display: block;
}