/*  黑幕  */

.text-shady {
	color: #000;
	background-color: #000;

	&:hover {
		color: #fff;
	}

	.black:hover {
		color: #000;
	}
}

/*  警告条  */

.text-alert {
	padding: .6em .9em;
	border-radius: .3em;
	margin: 1em auto;
	line-height: 1.6em;
	display: block;
	background-color: #ddd;
	color: #999;
}
.text-alert a {
	color:inherit!important;
	text-decoration:underline;
}
.text-alert a:hover{opacity:.5;}

.text-alert.fa:before{margin-right:.3em;} /* For http://www.fontawesome.com.cn/ */

.text-alert.success {
	background-color: #dff0d8;
	color: #3c763d;
}
.text-alert.info {
	background-color: #d9edf7;
	color: #31708f;
}
.text-alert.warning {
	background-color: #fcf8e3;
	color: #8a6d3b;
}
.text-alert.danger {
	background-color: #f2dede;
	color: #a94442;
}

/*  展开折叠-兼容  */

.text-collapse {
    margin: 2px;
}
.text-collapse .col-title {
    border-radius: 25px;
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
}
.text-collapse .col-text {
    display: none;
    margin-top: 10px;
}
.text-collapse .col-title:hover + .col-text {
	display: block;
}
.text-collapse .col-title:hover {
	background-color: #eee;
}

/*  滚动条美化  */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: $scrollbar-bg-color;
}
::-webkit-scrollbar {
	width:10px ;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	background-color: #F90;
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent);
	border-radius: 10px;
}

/*  标签页  */

.tab-page {
	li,ul,li {margin: 0px; padding: 0px;}
	li {list-style-type: none;}
	.hide {display: none;}
	.tabTitle ul {overflow: hidden;}
	.tabTitle ul li {float: left; border: 1px solid #abcdef; border-bottom: none; height: 30px; line-height: 30px; padding: 0 15px; margin-right: 3px; cursor:pointer;}
	.current {background: #abcdef; color:#fff;}
	.tabContent div {border: 1px solid #abcdef; height: 350px; padding: 15px;overflow: auto;}

/* need js:

$(function(){
  var ali = $('.tabTitle ul li');
  var aDiv = $('.tabContent div');
  var timeId = null;
  ali.mouseover(function(){
    var _this = $(this);
    timeId = setTimeout(function(){
      _this.addClass('current').siblings().removeClass('current');
      var index = _this.index();
      aDiv.eq(index).show().siblings().hide();
    },300);
  }).mouseout(function(){
    clearTimeout(timeId);
  });
});

*/
}

/*  注解文字  */

.text-comments {
	color: $text-light-color;
	font-size: 10px;
	font-weight: 500;
}

/*  进度条  */

.progress-con {
    width: 100%;
    background-color: #ddd;

    .progress {
    	text-align: right;
    	line-height: 30px;
    	color: white;
	}
}

/* 时间线 */

.timeline 
{
	position: relative;
	list-style: none;
	padding-left: 1.2em !important;
	margin-left: .3em !important;
	border-left: .2em solid #eee;
	color: rgb(119, 119, 119) !important;
	
	a {
		color: #000 !important;

		&:hover {
			color: #777 !important;
		}
	}
}

.timeline b {
	font-size: .9em;
	font-weight: normal;
	display: block;
	position: relative;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #909399;
}

.timeline b::after {
	content: '';
	position: absolute;
	top: .38em;
	left: -2em;
	width: .8em;
	height: .8em;
	border-radius: 50%;
	background-color: #fff;
	border: .14em solid #ccc;
	box-shadow: m.15em .15em 0 rgba(255,255,255,1),-0.15em -0.15em 0 rgba(255,255,255,1);
}

.timeline li {
	list-style: none;
	line-height: 100%;
}

.timeline li:hover b::after {
	border-color: #eb5055;

}

.timeline li:hover b {
	color: #eb5055;
}