/*  黑幕  */

.text-shady {
	color: #000;
	background-color: #000;

	&:hover {
		color: #fff;
	}

	.black:hover {
		color: #000;
	}
}

/*  警告条  */

.text-alert {
	padding:.6em .9em;
	border-radius:.3em;
	margin:1em auto;
	line-height:1.6em;
	display:block;
	background-color:#f0f9eb;
	color:#67c23a;
}
.text-alert a {
	color:inherit!important;
	text-decoration:underline;
}
.text-alert a:hover{opacity:.5;}

.text-alert.fa:before{margin-right:.3em;} /* For http://www.fontawesome.com.cn/ */

.text-alert.success {
	background-color:#f0f9eb;
	color:#67c23a;
}
.text-alert.info {
	background-color:#f4f4f5;
	color:#909399;
}
.text-alert.warning {
	background-color:#fdf6ec;
	color:#e6a23c;
}
.text-alert.danger {
	background-color:#fef0f0;
	color:#f56c6c;
}

/*  展开折叠-兼容  */

.text-collapse {
    margin: 2px;
}
.text-collapse .col-title {
    border-radius: 25px;
    background-color: #f5f5f5;
    text-align: center;
    padding: 10px;
}
.text-collapse .col-text {
    display: none;
    margin-top: 10px;
}
.text-collapse .col-title:hover + .col-text {
	display: block;
}
.text-collapse .col-title:hover {
	background-color: #eee;
}

/*  滚动条美化  */

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}
::-webkit-scrollbar {
	width:10px ;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
	background-color: #F90;
	background-image: -webkit-linear-gradient(45deg,rgba(255,255,255,.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.2) 50%,rgba(255,255,255,.2) 75%,transparent 75%,transparent);
	border-radius: 10px;
}

/*  标签页  */

.tab-page {
	li,ul,li {margin: 0px; padding: 0px;}
	li {list-style-type: none;}
	.hide {display: none;}
	.tabTitle ul {overflow: hidden;}
	.tabTitle ul li {float: left; border: 1px solid #abcdef; border-bottom: none; height: 30px; line-height: 30px; padding: 0 15px; margin-right: 3px; cursor:pointer;}
	.current {background: #abcdef; color:#fff;}
	.tabContent div {border: 1px solid #abcdef; height: 350px; padding: 15px;overflow: auto;}

/* need js:

$(function(){
  var ali = $('.tabTitle ul li');
  var aDiv = $('.tabContent div');
  var timeId = null;
  ali.mouseover(function(){
    var _this = $(this);
    timeId = setTimeout(function(){
      _this.addClass('current').siblings().removeClass('current');
      var index = _this.index();
      aDiv.eq(index).show().siblings().hide();
    },300);
  }).mouseout(function(){
    clearTimeout(timeId);
  });
});

*/
}

/*  注解文字  */

.text-comments {
	color: rgb(152, 166, 173);
	font-size: 10px;
	font-weight: 500;
}