.table {
    display: table;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
}

@media screen and (max-width: $pc_pe_dividing_1) {
    .table,.row,.cell {
        display: block;
    }
}