/*
red 配色

红黑为主色调。
最好用于中国新年。
*/

$text-color                                                     = #333;

$siteloading-bg-color                                           = rgba(256,256,256,.7);
$scrollbar-bg-color                                             = #dd554e;
$scrollbar-color                                                = #f90;
$body-shadow-color                                              = rgba(0, 0, 0, 0.3);

$blockquote-color                                               = #dd554e;
$a-color                                                        = #222;
$hr-color                                                       = #e47772;
$h-bg-color                                                     = rgba(189,202,219,.3);
$h-cross-color                                                  = #ff8282;

$toolbar-fa-border-color                                        = #fff;

$selection-color                                                = #fff;
$selection-bg-color                                             = #ddd;

$category-list-count-badge-color                                = #fff;
$category-list-count-badge-bg-color                             = #ee82ee;

$comments-bg-color                                              = #e47772;
$comments-inner-bg-color                                        = #dd554e;
$comments-inner-border-color                                    = #dd554e;

$footer-bg-color                                                = #c12c25;
$footer-border-color                                            = #c12c25;
$footer-color                                                   = #333;

$paginator-padding-color                                        = #e47772;
$paginator-border-color                                         = #e47772;
$paginator-bg-color                                             = #dd554e;
$paginator-color                                                = #222;
$paginator-hover-color                                          = #222;
$paginator-hover-bg-color                                       = #c92e26;
$paginator-current-color                                        = #fff;
$paginator-current-bg-color                                     = #000;

$post-bg-color                                                  = #e47772;
$post-header-bg-color                                           = #dd554e;
$post-header-border-bottom-color                                = #dd554e;
$post-header-title-color                                        = #000;
$post-meta-color                                                = #444;
$post-breadcrumb-bg-color                                       = #dd554e;
$post-breadcrumb-border-color                                   = #dd554e;
$post-text-bg-color                                             = #dd554e;
$post-text-border-color                                         = #dd554e;
$post-text-link-color                                           = #222;
$post-text-link-hover-color                                     = #777;
$post-prev-bg-color                                             = #dd554e;
$post-prev-border-color                                         = #dd554e;
$post-prev-color                                                = #333;
$post-next-bg-color                                             = #dd554e;
$post-next-border-color                                         = #dd554e;
$post-next-color                                                = #333;
$post-item-bg-color                                             = #dd554e;
$post-item-border-color                                         = #dd554e;
$post-item-meta-color                                           = #444;
$post-item-shadow-color                                         = #c92e26;
$post-item-hover-shadow-color                                   = #9a241d;
$post-item-bottom-shadow-color                                  = rgba(0,0,0,.8);

$sidebar-bg-color                                               = #dd554e;
$sidebar-footer-bg-color                                        = #c92e26;
$sidebar-footer-color                                           = #333;
$sidebar-text-mini-text-color                                   = #444;
$sidebar-list-group-item-bg-color                               = #dd554e;
$sidebar-list-group-item-color                                  = #222;
$sidebar-list-group-item-hover-color                            = #222;
$sidebar-list-group-item-hover-bg-color                         = #c92e26;
$sidebar-list-group-item-current-color                          = #222;
$sidebar-list-group-item-current-bg-color                       = #c92e26;
$sidebar-badge-color                                            = #fff;
$sidebar-badge-bg-color                                         = #ee82ee;

$toolbar-border-color                                           = #dd554e;
$toolbar-bg-color                                               = #dd554e;
$toolbar-title-color                                            = #333;
$toolbar-post-toc-bg-color                                      = #c92e26;
$toolbar-post-toc-color                                         = #c92e26;
$toolbar-post-toc-border-color                                  = #dd554e;
$toolbar-tab-page-tabContent-border-top-color                   = #dd554e;
$toolbar-tab-page-sidetitle-color                               = #222;
$toolbar-tab-page-current-border-bottom-color                   = #000;
$toolbar-list-group-item-bg-color                               = #c92e26;
$toolbar-list-group-item-color                                  = #222;
$toolbar-list-group-item-border-color                           = #dd554e;
$toolbar-list-group-item-badge-color                            = #fff;
$toolbar-list-group-item-badge-bg-color                         = #ee82ee;
$toolbar-tag-cloud-bg-color                                     = $toolbar-bg-color;

$topbar-bg-color                                                = #c92e26;
$topbar-link-color                                              = #222;
$topbar-shadow-color                                            = #c92e26;

$fa-border-color                                                = #c92e26;

$timeline-b-color                                               = #333;
$timeline-hover-b-color                                         = #c12c25;
$timeline-circle-color                                          = #c92e26;
$timeline-line-color                                            = #c92e26;
$timeline-circle-bg-color                                       = #dd554e;