/*
white 配色

灰白为主色调。
相对于 std 配色，去除大部分 border。
*/

$siteloading-bg-color                                           = rgba(256,256,256,.7);
$scrollbar-bg-color                                             = #F5F5F5;
$body-shadow-color                                              = rgba(0, 0, 0, 0.3);

$blockquote-color                                               = #f3f5f7;
$a-color                                                        = #777;
$hr-color                                                       = #edf1f2;

$selection-color                                                = #fff;
$selection-bg-color                                             = #ddd;

$category-list-count-badge-color                                = #fff;
$category-list-count-badge-bg-color                             = #ee82ee;

$comments-bg-color                                              = #f1f3f4;
$comments-inner-bg-color                                        = #fff;
$comments-inner-border-color                                    = #fff;

$footer-bg-color                                                = #eee;
$footer-border-color                                            = #eee;

$achieve-a-color                                                = #000;
$achieve-a-hover-color                                          = #777;

$paginator-padding-color                                        = #f1f3f4;
$paginator-border-color                                         = #fff;
$paginator-bg-color                                             = #fff;
$paginator-color                                                = #777;
$paginator-hover-color                                          = #777;
$paginator-hover-bg-color                                       = #dedede;
$paginator-current-color                                        = #fff;
$paginator-current-bg-color                                     = #000;

$post-bg-color                                                  = #f1f3f4;
$post-header-bg-color                                           = #fafafa;
$post-header-border-bottom-color                                = #fff;
$post-header-title-color                                        = #000;
$post-header-meta-color                                         = #98a6ad;
$post-breadcrumb-bg-color                                       = #fff;
$post-breadcrumb-border-color                                   = #fff;
$post-text-bg-color                                             = #fff;
$post-text-border-color                                         = #fff;
$post-text-link-color                                           = #3498db;
$post-text-link-hover-color                                     = #0056b3;
$post-prev-bg-color                                             = #fff;
$post-prev-border-color                                         = #fff;
$post-next-bg-color                                             = #fff;
$post-next-border-color                                         = #fff;
$post-item-bg-color                                             = #fff;
$post-item-border-color                                         = #fff;
$post-item-meta-color                                           = #98a6ad;
$post-item-hover-shadow-color                                   = #ddd;

$sidebar-bg-color                                               = #fafafa;
$sidebar-footer-bg-color                                        = #fff;
$sidebar-text-mini-text-color                                   = #98a6ad;
$sidebar-list-group-item-bg-color                               = #fafafa;
$sidebar-list-group-item-color                                  = #777;
$sidebar-list-group-item-hover-color                            = #777;
$sidebar-list-group-item-hover-bg-color                         = #f1f3f4;
$sidebar-badge-color                                            = #fff;
$sidebar-badge-bg-color                                         = #ee82ee;

$toolbar-border-color                                           = #fafafa;
$toolbar-bg-color                                               = #fafafa;
$toolbar-post-toc-bg-color                                      = #fff;
$toolbar-post-toc-color                                         = #fff;
$toolbar-post-toc-border-color                                  = #ddd;
$toolbar-tab-page-tabContent-border-top-color                   = #ddd;
$toolbar-tab-page-sidetitle-color                               = #98a6ad;
$toolbar-tab-page-current-border-bottom-color                   = #333;
$toolbar-list-group-item-bg-color                               = #fff;
$toolbar-list-group-item-color                                  = #777;
$toolbar-list-group-item-border-color                           = #ddd;
$toolbar-list-group-item-badge-color                            = #fff;
$toolbar-list-group-item-badge-bg-color                         = #ee82ee;

$topbar-bg-color                                                = #fcfcfc;
$topbar-link-color                                              = #777;
$topbar-shadow-color                                            = #ccc;