@import "_variable/main";
@import "_partial/main";
@import "_other/main";

body {
	background-color: rgb(239,239,239);
	color: rgb(119, 119, 119);
	margin: 0px;
}

.main {
	margin: 0 10%;
	box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
	height: auto;
}

@media screen and (max-width: $pc_pe_dividing) {
    .main {
    	margin: 0px;
	}
}

.article {
	margin-left: $dis-sidebar;
	width: 82.5% !important;
	min-height: 800px;
}

@media screen and (max-width: $pc_pe_dividing) {
    .article {
        margin-left: 0;
        width: 100% !important;
    }
}

a {
	text-decoration:none;
	color: rgb(119, 119, 119);
}

hr {
	border-style: solid;
    border-color: #edf1f2;
	border-width: 1px;
	margin: 15px;
}

img,figure,canvas,iframe{
	max-height: 100%;
	max-width: 100%;
	overflow: auto;
}

pre {
    max-width: 80%;
	white-space: pre-wrap;
}

@media screen and (max-width: $pc_pe_dividing) {
    pre {
    	max-width: 100%;
	}
}