<section class="post">
    <div class="header">
    	<div class="title">分类</div>
    	<div class="subtitle">目前共有以下分类。</div>
    </div>
    <div class="post-text big-font"><%- list_categories()%></div>
</section>