<div class="comments">
  <div class="inner">

	<% if(page.discomments){ %>
      <div class="big-font">本页面并未开启评论功能哦！</div>

	<% }else if(theme.comments.livere.enable) { %>

        <script type="text/javascript">
          (function(d, s) {
            var j, e = d.getElementsByTagName(s)[0];
            if (typeof LivereTower === 'function') { return; }
            j = d.createElement(s);
            j.src = 'https://cdn-city.livere.com/js/embed.dist.js';
            j.async = true;
            e.parentNode.insertBefore(j, e);
          })(document, 'script');
        </script>
        <div id="lv-container" data-id="city" data-uid="<%= theme.comments.livere_uid %>"></div>

    <% }else if(theme.comments.gitalk.enable) { %>

        <div id="gitalk-container"></div>
        <script>
          var gitalk = new Gitalk({
                         clientID: 'eee39c8ef2391d17d829',
                         clientSecret: 'c9e42cc511159cc40a9afae6755952c55f098df5',
                         repo: 'no-code',
                         owner: 'yz-hs',
                         admin: ['yz-hs']
                      })

          gitalk.render('gitalk-container')
        </script>

    <% }else{ %>
    	<div class="big-font"><%= config.author %> 并未使用评论功能哦！</div>
    <% } %>

  </div>
</div>