<div class="footer">
  <p class="text-left">Copyright ©2018-2020 yz-hs. All rights reserved.</p>
  <p class="text-right">Theme is <a href="https://github.com/yz-hs/yzpheme">yzpheme</a>,by yz-hs.</p>
</div>

<!--<div class="sk-folding-cube">
  <div class="sk-cube1 sk-cube"></div>
  <div class="sk-cube2 sk-cube"></div>
  <div class="sk-cube4 sk-cube"></div>
  <div class="sk-cube3 sk-cube"></div>
</div>-->