<a class="santa-container" onclick="santacoloredegg()">
  <div class="santa" id="santa-colored-egg">
    <div class="santa-body">
        <div class="santa-head">
            <div class="santa-ear"></div>
            <div class="santa-ear"></div>
            <div class="santa-hat"></div>
            <div class="santa-eye"></div>
            <div class="santa-eye"></div>
            <div class="santa-nose"></div>
            <div class="santa-mouth"></div>
        </div>
    </div>
  </div>
</a>

<script type="text/javascript">
	function santacoloredegg() {
		document.getElementById("santa-colored-egg").innerHTML = 
		"<div class=\"santa-body\" style=\"font-size: 500px;\">"+
		"<div class=\"santa-head\">"+
		"<div class=\"santa-ear\"></div>"+
		"<div class=\"santa-ear\"></div>"+
		"<div class=\"santa-hat\"></div>"+
		"<div class=\"santa-eye\"></div>"+
		"<div class=\"santa-eye\"></div>"+
		"<div class=\"santa-nose\"></div>"+
		"<div class=\"santa-mouth\"></div>"+
		"</div></div>";
		swal("由于你触碰了圣诞老人，他快气炸了！快快刷新让他平静下来！");
	}
</script>