<div class="post">
    <div class="header">
    	<div class="title">标签</div>
    	<div class="meta">目前共有<%= site.tags.length %>个标签。</div>
    </div>
    <ul class="post-text tags">
    <% site.tags.each(function (tag) { %>
      <a href="/tags/<%= tag.name %>"><i class="fa fa-tags fa-fw" aria-hidden="true"></i> <%= tag.name %></a><hr />
    <% }) %>
    </ul>
</div>