<div class="toolbar cell">
  <!--<div class="sele">
  	<div class="sele-btn">
  		<div class="item">
  			<i class="fa fa-map" aria-hidden="true"></i>
  		</div>
  		<div class="item">
  			<i class="fa fa-clock-o" aria-hidden="true"></i>
  		</div>
  		<div class="item">
  			<i class="fa fa-refresh" aria-hidden="true"></i>
  		</div>
  	</div>
  </div>-->

  <div class="item">
  	<div class="title">Hitokoto</div>
    <div id="hitokoto" class="border-text text-center"><%= config.author %>说，除了她以外的人都很强！嘤嘤嘤~~</div>
    <script>
    fetch('https://v1.hitokoto.cn')
      .then(function (res){
        return res.json();
      })
      .then(function (data) {
        var hitokoto = document.getElementById('hitokoto');
        hitokoto.innerText = '\t' + data.hitokoto + '\n' +'\n' +'——' + data.from ;
      })
      .catch(function (err) {
        console.error(err);
      })
  </script>
  </div>

  <div class="item">
  	<div class="title">时钟</div>
    <div class="border-text" id="displaytime"><script type="text/javascript" src="/js/displaytime.js"></script></div>
  </div>

  <div class="item">
  	<div class="title">标签云</div>
  	<div class="border-text"><%- tagcloud({min_font: 20, max_font: 40, amount: 200, color: true, start_color: '#bfc6be', end_color: '#000'}) %></div>
  </div>

  <% if(is_post()||is_page()){ %>
    <div class="post-toc" id="wrap">
      <div class="title">文章目录</div>
      <% if(toc(page.content,{list_number: false})=="") { %>
        <div class="border-text">目录好像不可用嘤。 >_<</div>
      <% }else{ %>
  	    <div class="border-text"><%- toc(page.content,{list_number: false}) %></div>
  	  <% } %>
    </div>
  <% } %> 

</div>