<div class="topbar">
	<a href="/" class="topbar-title">
		<i class="fa fa-home" aria-hidden="true"></i> <%= config.title %>
	</a>
	<a href="<%= theme.menu.留言 %>" class="topbar-comments">
		<i class="fa fa-bell-o" aria-hidden="true"></i>
	</a>
</div>