$white                                    = #fff;
$black                                    = #000;
$light-grey                               = #f9f9f9;
$dark-grey                                = #f1f3f4;
$black-grey                               = #ccc;
$border-color                             = #ddd;
$text-color                               = #777;
$text-dark-color                          = #000;
$text-light-color                         = #98a6ad;
$badge-color                              = #ee82ee;
$art-link-color                           = #3498db;
$art-link-hover-color                     = #0056b3;
$light-black                              = #333;