@import "_variable/topbar";
@import "_variable/sidebar";
@import "_variable/post-index";
@import "_variable/post";
@import "_variable/toolbar";

$dis-sidebar                               = 17.5%;
$dis-article                               = 950px;