$dis-sidebar_1                             = 16.5%;
$dis-sidebar_2                             = 22.6%;
$pc_pe_dividing_1                          = unit(hexo-config('responsive.dividing_1'),px);
$pc_pe_dividing_2                          = unit(hexo-config('responsive.dividing_2'),px);
$pc_pe_dividing_3                          = unit(hexo-config('responsive.dividing_3'),px);
$max-z-index                               = 1919810;
$min-z-index                               = 1;
$post-z-index                              = 777;
$sidebar-z-index                           = 888;
$sidebar-width_1                           = 14%;
$sidebar-width_2                           = 19%;
$sidebar-footer-item-width                 = 33.333%; // ( 100% / item-num 3 )
$toolbar-z-index                           = 666;
$toolbar-sele-item-width                   = 33.333%; // ( 100% / item-num 3 )
$topbar-z-index                            = 999;

@import "_variable/colors/white";
@import "_variable/schemes/opacity";