$sidebar-z-index                      = 888;
$sidebar-width_1                      = 14%;
$sidebar-width_2                      = 19%;
$sidebar-footer-item-width            = 50%; // ( 100% / item-num )