$sidebar-z-index                      = 888;
$sidebar-width_1                      = 12%;
$sidebar-width_2                      = 17%;
$sidebar-footer-item-width            = 50%; // ( 100% / item-num )