.achieve 
{
	position: relative;
	list-style: none;
	padding-left: 1.2em !important;
	margin-left: .3em !important;
	border-left: .2em solid #eee;
	color: rgb(119, 119, 119);
	
	a {
		color: $achieve-a-color !important;

		&:hover {
			color: $achieve-a-hover-color !important;
		}
	}
}

.achieve b {
	font-size: .9em;
	font-weight: normal;
	display: block;
	position: relative;
	margin-top: 20px;
	margin-bottom: 10px;
	color: #909399;
}

.achieve b::after {
	content: '';
	position: absolute;
	top: .38em;
	left: -2em;
	width: .8em;
	height: .8em;
	border-radius: 50%;
	background-color: #fff;
	border: .14em solid #ccc;
	box-shadow: m.15em .15em 0 rgba(255,255,255,1),-0.15em -0.15em 0 rgba(255,255,255,1);
}

.achieve li {
	list-style: none;
	line-height: 100%;
}

.timeline li:hover b::after {
	border-color: #eb5055;

}

.timeline li:hover b {
	color: #eb5055;
}