.category-list-count {
	margin: 5px 5px 5px 20px;
	padding: 4px 8px 4px 8px;
	color: $category-list-count-badge-color;
	background-color: $category-list-count-badge-bg-color;
	border-radius: 20px;
}

.category-list-item {
	margin: 10px;
}