.footer {
	background-color: $footer-bg-color;
	border: 1px solid $footer-border-color;
	padding: 17px;
	height: 15px;
	font-size: 15px;
	margin-left: $dis-sidebar_1;

	* { color: $footer-color; }

	p { margin: 0px; }

	.text-left,.text-right {
		max-width: 50%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.text-left { float: left; }
	.text-right { float: right; }
}

@media screen and (max-width: $pc_pe_dividing_1) {
    .footer {
        margin-left: $dis-sidebar_2;
    }
}

@media screen and (max-width: $pc_pe_dividing_2) {
    .footer {
        margin-left: 0;
    }
}