.footer {
	background-color: $footer-bg-color;
	border: 1px solid $footer-border-color;
	padding: 17px;
	height: 15px;
	font-size: 15px;
	margin-left: $dis-sidebar_1;

	p {
		margin: 0px;
	}

	.text-left {
		float: left;
		max-width: 50%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.text-right {
		float: right;
		max-width: 50%;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}

@media screen and (max-width: $pc_pe_dividing_1) {
    .footer {
        margin-left: $dis-sidebar_2;
    }
}

@media screen and (max-width: $pc_pe_dividing_2) {
    .footer {
        margin-left: 0;
    }
}