.paginator {
	padding: 70px 0;
    text-align: center;

    .page-number,.space,.prev,.next {
    	border: 1px solid #ddd;
    	padding: 10px;
    	margin: 2px;
    	background-color: #fff;
    	border-radius: 5px 5px 5px 5px;
        color: rgb(119, 119, 119);
    }

    .page-number:hover,.prev:hover,.next:hover {
        color: rgb(119, 119, 119);
        background-color: #dee5e7;
    }

    .current {
    	background-color: #000;
    	color: #fff;

        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
}