.post-index {
	z-index: $post-z-index2;
	background-color: #f1f3f4;
	width: $post-width;
	
	.header {
		background-color: #fff;
		color: #000;
		font-weight: 300;
		padding: 25px;
		border-bottom: 1px solid #ddd;

		.title {
			font-size: 30px;
			padding: 3px;
		}

		.subtitle {
			padding: 3px;
			color: rgb(152, 166, 173);
			font-size: 15px;
			font-weight: 500;
		}
	}

	.post-item {
		margin: 20px;
		padding: 30px;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 5px;

		.title {
			font-size: 25px;
			margin-bottom: 10px;
		}

		.meta {
			padding: 3px;
			color: rgb(152, 166, 173);
			font-size: 14px;
			font-weight: 500;
		}
	}
}