.post-index {
	z-index: $post-z-index2;
	background-color: $dark-grey;
	width: $post-width;
	
	.header {
		background-color: $white;
		color: $text-dark-color;
		font-weight: 300;
		padding: 25px;
		border-bottom: 1px solid $border-color;

		.title {
			font-size: 30px;
			padding: 3px;
		}

		.subtitle {
			padding: 3px;
			color: $text-light-color;
			font-size: 15px;
			font-weight: 500;
		}
	}

	.post-item {
		margin: 20px;
		padding: 30px;
		background-color: $white;
		border: 1px solid $border-color;
		border-radius: 5px;

		.title {
			font-size: 25px;
			margin-bottom: 10px;
		}

		.meta {
			padding: 3px;
			color: $text-light-color;
			font-size: 14px;
			font-weight: 500;
		}

		&:hover {
			box-shadow: 0px 0px 15px $black-grey;
		}
	}
}