.post {
	z-index: $post-z-index;
	background-color: $dark-grey;
	width: $post-width;

	.header {
		background-color: $white;
		color: $text-dark-color;
		font-weight: 300;
		padding: 25px;
		border-bottom: 1px solid $border-color;

		.title {
			font-size: 30px;
			padding: 3px;
		}

		.meta {
			padding: 3px;
			color: $text-light-color;
			font-size: 14px;
			font-weight: 500;
		}
	}

	.breadcrumb {
		margin: 20px;
		background-color: $white;
		border: 1px solid $border-color;
		border-radius: 5px;
		padding: 10px;
		height: 15px;
		font-size: 15px;

		.url {
			float: left;
		}
		.share {
			float: right;
		}
	}

	.post-text {
		margin: 20px;
		background-color: $white;
		border: 1px solid $border-color;
		border-radius: 5px;
		padding: 30px;
		a {
  			color: $art-link-color;
		}
		a:hover {
  			color: $art-link-hover-color;
		}
	}

	.prevnext {
		margin: 20px;
		height: 35px;
		font-size: 15px;
		.prev {
			background-color: $white;
			border: 1px solid $border-color;
			border-radius: 20px;
			padding: 10px;
			float: left;
		}
		.next {
			background-color: $white;
			border: 1px solid $border-color;
			border-radius: 20px;
			padding: 10px;
			float: right;
		}

		a {display: block;}
	}

	.for-else {
		padding: 30px 30px 30px 60px;
	}

	.big-font {
		font-size: 20px;
	}
}