.sidebar {
	position: fixed;
	width: $sidebar-width_1;
	height: 100%;
	z-index: $sidebar-z-index;
	background-color: #fff;

	.sidebar-avatar {
		border-radius: 50%;
    	height: 80%;
    	width: 80%;
    	display: block;
    	margin: auto;
	}

	.bounce:hover {
		-webkit-animation:bounce 1s .1s ease both;
		-moz-animation:bounce 1s .1s ease both;
	}	

	.sidebar-avatar-container {
		margin: 30px;
		margin-bottom: 15px; 
	}

	.sidebar-author {
		text-align: center;
		font-weight: 700;
	}

	.sidebar-list-container {
		padding: 7%;
	}

	.sidebar-footer {
		position: fixed;
		width: $sidebar-width_1;
		bottom: 0px;
		background-color: #f9f9f9;
		padding: 10px 0px;

		.item {
			text-align: center;
			width: $sidebar-footer-item-width;
			float: left;
		}
	}

	.mini-text {
		color: rgb(152, 166, 173);
		font-size: 12px;
		font-weight: 500;
	}

	.list-group {
  		margin-bottom: 20px;
  		padding-left: 0;
	}

	.list-group-item {
		position: relative;
  		display: block;
  		padding: 10px 15px;
  		margin-bottom: -1px;
 		background-color: #fff;
 		color: #555;

  		.list-group-item-heading {
    		color: #555;
  		}

  		&:hover,
  		&:focus {
    		text-decoration: none;
    		color: #555;
    		background-color: rgb(239,239,239);
  		}
	}

	.badge {
        float: right;
		padding: 3px 6px 3px 6px;
		color: #fff;
		background-color: #EE82EE;
		border-radius: 20px;
	}

	@-webkit-keyframes bounce {
		0% {
			-webkit-transform:scale(1)
		}
		10%, 20% {
			-webkit-transform:scale(0.8) rotate(-2deg)
		}
		30%, 50%, 70%, 90% {
			-webkit-transform:scale(1.1) rotate(2deg)
		}
		40%, 60%, 80% {
			-webkit-transform:scale(1.1) rotate(-2deg)
		}
		100% {
			-webkit-transform:scale(1) rotate(0)
		}
	}
}

@media screen and (max-width: $pc_pe_dividing_1) {
    .sidebar {
        width: $sidebar-width_2;

        .sidebar-footer {
        	width: $sidebar-width_2;
        }
    }
}

@media screen and (max-width: $pc_pe_dividing_2) {
    .sidebar {
        display: none !important;
    }
}