.toolbar {
	z-index: $toolbar-z-index;
	border: 1px solid $toolbar-border-color;
	background-color: $toolbar-bg-color;
	width: 220px;
	height: 100%;
	display: table-cell;

	.item {
		padding: 15px;

		.title {
			font-weight: 700;
			margin-bottom: 10px;
		}

		.text {
			padding: 5px;
		}
	}
	
	.post-toc {
		position: sticky;
		top: 60px;
		padding: 15px;
		.title {
			font-weight: 700;
			margin-bottom: 5px;
		}

		ol {
			margin: 5px 0px;
  			padding-left: 0px;
		}
		li {
  			display: block;
  			padding: 8px;
  			margin-bottom: -1px;
 			background-color: $toolbar-post-toc-bg-color;
 			color: $toolbar-post-toc-color;
 			border: 1px solid $toolbar-post-toc-border-color;

 			span {
 				word-wrap: break-word;
			}
		}

		li:first-child {
    		border-radius: 10px 10px 0px 0px;
  		}
  		li:last-child {
    		border-radius: 0px 0px 10px 10px;
  		}
	}

	.toolbar-tag-cloud {
		a {word-break: keep-all;}
	}

	.toolbar-tab-page {
		.tb-hide {display: none;}
		.tb-tabTitle >ul {
			overflow: hidden;
			padding: 0px;
			margin: 0px;
			list-style-type: none;
		}
		.tb-tabTitle >ul >li {
			float: left; 
			height: 20px; 
			font-size: 20px;
			padding: 20px 0px;
			margin: 0px;
			line-height: 30px; 
			cursor:pointer;
			width: $toolbar-sele-item-width;
			text-align: center;
		}
		.tb-current {border-bottom: 1px solid $toolbar-tab-page-current-border-bottom-color;}
		.tb-tabContent >div {
			border-top: 1px solid $toolbar-tab-page-tabContent-border-top-color;
			padding: 15px;
			padding-bottom: 25px;
			overflow: auto;
		}
		.title {
			font-weight: 700;
			margin-bottom: 10px;
		}
		.sidetitle {
			color: $toolbar-tab-page-sidetitle-color;
			font-size: 10px;
			font-weight: 500;
		}
		.fa-border {
			border-color: $toolbar-fa-border-color;
		}
	}

	.list-group {
  		margin-bottom: 20px;
  		padding-left: 0px;
	}

	.list-group-item {
		position: relative;
  		display: block;
  		padding: 10px 15px;
  		margin-bottom: -1px;
 		background-color: $toolbar-list-group-item-bg-color;
 		color: $toolbar-list-group-item-color;
 		border: 1px solid $toolbar-list-group-item-border-color; 

 		.badge {
 			float: right;
			padding: 3px 6px 3px 6px;
			color: $toolbar-list-group-item-badge-color;
			background-color: $toolbar-list-group-item-badge-bg-color;
			border-radius: 20px;
			font-size: 12px;
 		}
	}
	.list-group-item:first-child {
    	border-radius: 15px 15px 0px 0px;
  	}
  	.list-group-item:last-child {
   		margin-bottom: 0;
    	border-radius: 0px 0px 15px 15px;
  	}
}

@media screen and (max-width: $pc_pe_dividing_1) {
    .toolbar {
        display: none !important;
    }
}