.topbar {
	background-color: $topbar-bg-color;
	padding: 15px;
	position: sticky;
	top: 0px;
	z-index: $topbar-z-index;
	
	.topbar-title {
		color: $topbar-text-color;
		font-size: 20px;
		font-weight: 700;
	}

	.topbar-comments {
		float: right;
		color: $topbar-text-color;
		font-size: 20px;
	}
}