.topbar {
	background-color: $topbar-bg-color;
	box-shadow: 0px 0px 5px $topbar-shadow-color;
	padding: 15px;
	position: sticky;
	top: 0px;
	z-index: $topbar-z-index;
	
	.topbar-title {
		font-size: 20px;
		font-weight: 700;
	}

	.topbar-comments {
		float: right;
		font-size: 20px;
	}

	.topbar-url {
		float: right;
		font-size: 20px;
		font-weight: 700;
		display: none;
	}

	.topbar-full-url {
		font-size: 20px;
		font-weight: 700;
		display: none;
		text-align: center;
	}

	a {
		color: $topbar-link-color;
	}
}

@media screen and (max-width: $pc_pe_dividing_2) {
    .topbar {
		.topbar-comments {
			display: none;
		}

		.topbar-url {
			display: block;
		}
	}
}

@media screen and (max-width: $pc_pe_dividing_3) {
    .topbar {
		.topbar-url,.topbar-title {
			display: none;
		}
		.topbar-full-url {
			display: block;
		}
	}
}