.topbar {
	background-color: $topbar-bg-color;
	box-shadow: 0px 0px 5px $topbar-shadow-color;
	padding: 15px;
	position: sticky;
	top: 0px;
	z-index: $topbar-z-index;
	display: flex;
	justify-content: space-between;
	
	.topbar-title {
		font-weight: 700;
	}

	.topbar-menu {
		display: none;
	}

	.topbar-title,.topbar-comments,.topbar-menu {
		font-size: 20px;
	}

	a {
		color: $topbar-link-color;
	}
}

@media screen and (max-width: $pc_pe_dividing_3) {
	.topbar-menu {
		display: block !important;
	}
}